


body{height: 100%;width: 100%;}
body,
ul {
  margin: 0;
  padding: 0;
}
.content{min-height: 6000px; width: 100%;margin-top: 100px;}


/* header */


button.navbutton {margin-top: 50px; background-color: red;color:white;height:50px;width: 250px; border:none; border-radius: 10px; }
.tbcont { margin-top:32px;padding: 2px; line-height: 28px; text-align: justify;}
 p,h1 {margin:0;}
 table.tb1,p,h1 {text-align: center;}
 table.tb1 { height: 830px;}
td.img1 img {margin-bottom: 80px;}
td.img2 img {margin-top: 80px ;}
td.img1 {text-align: left;vertical-align: bottom;}
td.img2 {text-align: right;vertical-align: top;}
td.ps {vertical-align: center;}
 td h1{text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 90px;}
td h1.h1_2{text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 90px; color: rgb(0, 187, 255);}
td p {font-family: Arial, Helvetica, sans-serif;
font-size: medium;}

header {background-color: rgb(248, 247, 245);  height: 900px;}



ul,
ul li,
ul li a {

   display: flex;
  width: 100%;
  

}

ul {

 
  justify-content: space-between;
  text-align: center;

  -ms-flex-direction: row;
  flex-direction: row;
  ;
}
ul li.li1{width: 25%;}
ul li.li2{width: 50%;}
ul li.li3{width: 25%;}
ul li.li1 a {
  align-items: center;
  min-height: 70px;
  text-decoration: none;
  color: #333;
 
  justify-content: left;
  margin-left:13%;
}
ul li.li2 a {align-items: center;
    min-height: 70px;
    text-decoration: none;
    color: rgb(16, 16, 16);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:13px;
    justify-content: center;
    width: 20%;
  }
  ul li.li3 a { align-items: center;
    min-height: 70px;
    width: 10%;
    text-decoration: none;
    color: #333;

    justify-content: right;
 
    
    
  }
  ul li.li3 a.a3 { align-items: center;
    min-height: 70px;
    text-decoration: none;
    color: #333;

    justify-content: right;
    margin-right:13%;
    margin-left: 10px;
    
  } ul li.li3 a.a2 { align-items: center;
    min-height: 70px;
    text-decoration: none;
    color: #333;

    justify-content: right;
   
    margin-left: 10px;
    
  }
  ul li.li3 div.a0 { align-items: center;
    min-height: 70px;
    text-decoration: none;
    color: #333;
    min-width: 70%;
    justify-content: right;
   
    
  }
/* end 


//////////////////////////////////////


*/


table.tb2 {height: 100%;width: 100%;}

  table.undertb1 {border-spacing: 0px;min-height: 40%;width: 80%; margin-left: 10%;margin-right: 10%;}
  td.ps2 {vertical-align: top; }
  td.ps3 {vertical-align: top; text-align: right; margin:0}
  td.ps3 img {width: 75%;}
  td.ps2 h1 {font-size: 70px;text-align: left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
  td p.tbcont {text-align: left;}
h3, p.wild {text-align: left;width: 80%;margin-left: 30px;}
.indentbuttons {width:100%; height: 100%;}



.btn1 { border:none; border-radius: 70px; background-color: rgba(220, 199, 222, 0.628);height: 400px;}
.btn2 {border:none;  background-color: rgba(172, 235, 247, 0.581);border-radius: 70px;height: 400px;; }
.btn3 {border:none; background-color: rgba(231, 233, 175, 0.597);border-radius: 70px;height: 400px;}
.btn1 img {height:50%;margin-top: 40px;}
.btn2 img {height:50% ;margin-top: 40px;}
.btn3 img {height:50% ;margin-top: 40px;}
.valign1{margin-right: 0; margin-left: 0px;
	padding: 100px 0px 0px 0px;display: inline-block;  box-sizing: border-box;width: calc(30% );}
.valign2{ margin-left: 5%; margin-right: 5%;
	padding: 100px 0px 0px 0px;display: inline-block; box-sizing: border-box;width: calc(30% ) }
.valign3 {margin-right: 0px; margin-left: 0;
	padding: 100px 0px 0px 0px;display: inline-block; box-sizing: border-box;width: calc(30% ) }


.osnovdiv { box-sizing: border-box;padding: 0;
position: relative;
width: 100%;
display: block;
margin: 0px;
	padding: 0;
}


/* //////////////////////////////////////////// */



td.content2 h1 {font-size: 70px;text-align: left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}


.undertb2 {
  margin-top: 100px;text-align: center;

  border-spacing: 0px;
  
  width: 80%;
  min-height: 600px;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;}

 .content2 { border-radius: 100px;  background-color: rgb(248, 247, 245);height: 30%; width: 100%;min-height: 600px;}

#bbimg {position: relative; }
.bbimg1,.bbimg2,
.bbimg3,
.bbimg4,
.bbimg5 {top: 40%; position: absolute;  width: 190px ; text-align: center;}


.bbimg1{text-align: left; top: 32%; left: 8%;}
.bbimg2{ right:calc(100% - 190px) ;}
.bbimg3{width: 100%; }
.bbimg4{left: calc(100% - 190px);}
.bbimg5{ text-align: left; left: calc(100% - 190px + 10%);top: 50%;}

#bbimg.bbimg1_1 {text-align: left;vertical-align: middle; }
#bbimg.bbimg2_2 {text-align: left;vertical-align: middle; }

#bbimg.bbimg4_4 {text-align: right;vertical-align: middle;}
#bbimg.bbimg5_5 {text-align: right;vertical-align: middle; }

#bbimg_1 {position: relative;}
#bbimg_1.bbimg3_3 {text-align: center;vertical-align: middle; }



/* pppppppppppppppppppppppppppppp */


.undertb3 { margin-top: 100px;

  border-spacing: 0px;
  
  width: 80%;
  min-height: 850px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;}

.borderimg1,.borderimg2,.borderimg3 {background-color:rgb(248, 247, 245) ;border:none;margin: 0;padding: 0;}
.borderimg1 { min-width: 582px;width: 100%; border-radius: 30px; border-bottom-left-radius: 285px;}
.borderimg2 {min-width: 273px;width: 80%; border-radius: 110%; }
.borderimg3 {min-width:273px;width: 100%; border-radius: 50px;}

.borderimg1 img,.borderimg2 img,.borderimg3 img {margin: 0px;padding: 0; margin-left:calc(100%-273px);}

.borderimg1 img {margin-left:calc(100%-582px);}


.borderimg1 h3{text-align: center; position: absolute; left:50px}
.borderimg2 h3{text-align: center; position: absolute; left:-25px}
.borderimg3 h3 {text-align: center; position: absolute; left:10px}
td.h1tb3 h1 {font-size: 70px;text-align: left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}


.tb3img1{box-sizing: content-box;position: relative; }
.tb3img2{box-sizing: content-box; position: relative; }
.tb3img3{box-sizing: content-box; position: relative;}

table.undertb3 td.tb3img1,td.tb3img2,td.tb3img3 {padding: 0px;}


/*    pppppppppppppppppppppppppp */
.undertb4 {
  margin-top: 100px;

  border-spacing: 0px;
  
  width: 80%;
  min-height: 550px;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;}

  .content3 {  
   height: 30%; width: 100%; background-image: url(img/photo.png)
    ; background-repeat:no-repeat;
    background-color: rgb(243, 241, 236);
    background-position:right;
    min-height: 550px;}

.pblock4 {margin-top: 20px; text-align: justify; margin-left: 20px;}

.navbutton4bl  {margin-top: 50px; 
  background-color: red;color:white;
  height:50px;
  width: 250px; border:none; border-radius: 10px; margin-left: 20px;}


/* rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */



.undertb5  {margin-top: 100px;

border-spacing: 0px;

width: 80%;
height: 884px;
margin-left: 10%;
margin-right: 10%;}

.td1,.td2,.td3,.td4 {height: 442px;}
.btnspisok{background-color: rgb(248, 247, 245); margin-top:20px ;margin-bottom:20px ;

  height:50px;
  width: 100%; border:none; border-radius: 10px; }
  .btnspisok button {height: 90%;width: 30%;margin-bottom:3px;margin-top:3px; border: none; border-radius: 15px;background-color: rgb(248, 247, 245); }
.spisok1 {margin-left: 3px;margin-right: calc(4%);}
.spisok2 {margin-right: calc(4%);}
.spisok3 {margin-right: 3px;}
.btnspisok button:focus{background-color: rgb(235, 213, 47);}

.td1 img {width: 100% ; height: auto; display: block;}
.td3 {vertical-align: top;}
.left {text-align: left;}
.td2 {padding-left: 25px; vertical-align: top;}
.undertb5 h1 {font-size: 70px;text-align: left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-top: 10px;}
.butgame {border-radius: 20px; width: 230px; height: 50px; border: none; background-color: rgba(190, 225, 233, 0.541);vertical-align: top;}
.butgame2 { width: 230px; height: 50px; border: none; background-color: rgb(255, 255, 255);vertical-align: top;font-size: 20px;}


.rik{padding: 0;margin: 0;vertical-align: bottom; margin-top: 20px;}

.rik1{padding: 0;margin: 0; margin-top: 40px;}
.rik div {display: inline-block;min-width: 32%;padding: 0;margin: 0;}
.rik1 div {display: inline-block;}
.navbutton5bl{ 
  background-color: red;color:white;
  height:50px;
  width: 250px; border:none; border-radius: 10px; margin-left: 100px;}

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
  }



/* nav { 
    position: fixed; top: 0;
    color:red;
    background-color: rgb(183, 183, 183);
    height: 10%;
    width:100%;}

ul.nav li {  display: inline;  
    width: 33%;
   }
  
   nav a {  
    display: inline-block;  
    position: fixed; top: 0;
    text-decoration: none;  
}  

nav ul {
    margin: 0 auto;}
a#logo {
    margin-top:0%;float: left;}
    
.nav {
    margin-top:5%}    */