.row {margin-right: 0;padding-right: 0;margin-left: 0;padding-left: 0;}
.container-fluid {margin-right: 0;padding-right: 0;margin-left: 0;padding-left: 0;}
/*           
* {
  outline: 1px solid red;
  } */
body{height: 100%;width: 100%;}
body,
ul {
  margin: 0;
  padding: 0;
}
.content{height: 100%; width: 100%;margin-top: 100px;}


/* header */
.pl-0 {padding-left: 0 !important;}
.pr-0 {padding-right: 0 !important;}

button.navbutton {margin-top: 50px; background-color: red;color:white;height:50px;width: 250px; border:none; border-radius: 10px;}
.tbcont { margin-top:32px;padding: 2px; line-height: 28px; text-align: justify;}
 p,h1 {margin:0;}
 div.tb1,p,h1 {text-align: center;}
 div.tb1 { height: 830px;}
div.img1 img {margin-bottom: 80px;}
div.img2 img {margin-top: 80px ;}
div.img1 {text-align: left;}
div.img2 {text-align: right;}
div.ps {vertical-align: center; margin-top: 3%;}
div h1{text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 90px;}
div h1.h1_2{text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 90px; color: rgb(0, 187, 255);}
div p {font-family: Arial, Helvetica, sans-serif;
font-size: medium;}

header {background-color: rgb(248, 247, 245);}



ul,
ul li,
ul li a {

   display: flex;
  width: 100%;
  

}

ul {

 
  justify-content: space-between;
  text-align: center;

  -ms-flex-direction: row;
  flex-direction: row;
  ;
}
ul li.li1{width: 25%;}
ul li.li2{width: 50%;}
ul li.li3{width: 25%;}
ul li.li1 a {
  align-items: center;
  min-height: 70px;
  text-decoration: none;
  color: #333;
 
  justify-content: left;
  margin-left:13%;
}
ul li.li2 a {align-items: center;
    min-height: 70px;
    text-decoration: none;
    color: rgb(16, 16, 16);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:13px;
    justify-content: center;
    width: 20%;
  }
  ul li.li3 a { align-items: center;
    min-height: 70px;
    width: 10%;
    text-decoration: none;
    color: #333;

    justify-content: right;
 
    
    
  }
  ul li.li3 a.a3 { align-items: center;
    min-height: 70px;
    text-decoration: none;
    color: #333;

    justify-content: right;
    margin-right:13%;
    margin-left: 10px;
    
  } ul li.li3 a.a2 { align-items: center;
    min-height: 70px;
    text-decoration: none;
    color: #333;

    justify-content: right;
   
    margin-left: 10px;
    
  }
  ul li.li3 div.a0 { align-items: center;
    min-height: 70px;
    text-decoration: none;
    color: #333;
    min-width: 70%;
    justify-content: right;
   
    
  }
/* end 


//////////////////////////////////////


*/


div.tb2 {height: 100%;width: 100%;}
.gameimg {text-align:right;}
  div.undertb1 {border-spacing: 0px;min-height: 40%;width: 80%; margin-left: 10%;margin-right: 10%;}
  div.ps2 {vertical-align: top; }
  div.ps3 {vertical-align: top; text-align: right; margin:0}
  div.ps3 img {width: auto;}
  div.ps2 h1 {font-size: 70px;text-align: left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
  div p.tbcont {text-align: left;}
h3, p.wild {text-align: left;width: 80%;margin-left: 30px;}
.indentbuttons {width:100%; height: 100%;}



.btn1 { border:none; border-radius: 70px; background-color: rgba(220, 199, 222, 0.628);height: 400px;}
.btn2 {border:none;  background-color: rgba(172, 235, 247, 0.581);border-radius: 70px;height: 400px;; }
.btn3 {border:none; background-color: rgba(231, 233, 175, 0.597);border-radius: 70px;height: 400px;}
.btn1 img {height:50%;margin-top: 40px;}
.btn2 img {height:50% ;margin-top: 40px;}
.btn3 img {height:50% ;margin-top: 40px;}



.valign1{margin-right: 0; margin-left: 0px;
	padding: 100px 0px 0px 0px;display: inline-block;  box-sizing: border-box;width: calc(30% );}
.valign2{ margin-left: 5%; margin-right: 5%;
	padding: 100px 0px 0px 0px;display: inline-block; box-sizing: border-box;width: calc(30% ) }
.valign3 {margin-right: 0px; margin-left: 0;
	padding: 100px 0px 0px 0px;display: inline-block; box-sizing: border-box;width: calc(30% ) }


.osnovdiv { box-sizing: border-box;padding: 0;
position: relative;
width: 100%;
display: block;
margin: 0px;
	padding: 0;
}


/* //////////////////////////////////////////// */

.rowfl {margin-top: 100px;}

div.content2 div h1 {font-size: 70px;text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

div.content2 div h1 p {text-align: center; width: 300px;}


.undertb2 {
  margin-top: 100px;text-align: center;

  border-spacing: 0px;
  
  width: 80%;
  min-height: 500px;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;}

 .content2 { border-radius: 100px;  background-color: rgb(248, 247, 245);height: 30%; width: 100%;min-height: 600px; margin-top: 100px;}

#bbimg {position: relative; }
.bbimg1,.bbimg2,
.bbimg3,
.bbimg4,
.bbimg5 { position: absolute;  width:190px ; text-align: center;font-size: medium;}


.bbimg1{text-align: left; top: 10%; left: 10%; }
.bbimg2{ right:calc(100% - 200px) ;top: calc(27% + 10px);}
.bbimg3{width: 92%; top: 40%;}
.bbimg4{left: calc(100% - 200px);top: calc(27% + 15px);}
.bbimg5{ text-align: left; left: calc(100% - 200px + 10%);top: 60%;}

#bbimg.bbimg1_1 {text-align: left; margin-top: 15px;}
#bbimg.bbimg2_2 {text-align: left; margin-top: 15px;}

#bbimg.bbimg4_4 {text-align: right;margin-top: 15px;}
#bbimg.bbimg5_5 {text-align: right;margin-top: 15px;}

#bbimg_1 {position: relative;}




/* pppppppppppppppppppppppppppppp */


.undertb3 { margin-top: 100px;

  border-spacing: 0px;
  
  width: 80%;
  min-height: 850px;
  height: auto;
  margin-left: auto;
  margin-right: auto;}

.borderimg1,.borderimg2,.borderimg3 {background-color:rgb(248, 247, 245) ;border:none;margin: 0;padding: 0;}
.borderimg1 { min-width: 582px;width: 100%; border-radius: 30px; border-bottom-left-radius: 285px;}
.borderimg2 {min-width: 273px;width: 80%; border-radius: 110%; }
.borderimg3 {min-width:273px;width: 100%; border-radius: 50px;}

.borderimg1 img,.borderimg2 img,.borderimg3 img {margin: 0px;padding: 0; margin-left:calc(100%-273px);}

.borderimg1 img {margin-left:calc(100%-582px);}


.borderimg1 h3{text-align: center; position: absolute; left:50px}
.borderimg2 h3{text-align: center; position: absolute; left:-25px}
.borderimg3 h3 {text-align: center; position: absolute; left:10px}
div.h1tb3 h1 {font-size: 70px;text-align: left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}


.tb3img1{box-sizing: content-box;position: relative; }
.tb3img2{box-sizing: content-box; position: relative; }
.tb3img3{box-sizing: content-box; position: relative;}

div.undertb3 div.tb3img1,div.tb3img2,div.tb3img3 {padding: 0px;}


/*    pppppppppppppppppppppppppp */
.undertb4 {
  margin-top: 100px;

  border-spacing: 0px;
  
  width: 80%;
  min-height: 550px;
  height: auto;

  margin-left: 10%;
  margin-right: 10%;}
  .undertb4 h1 {text-align: left; margin-left: 20px;}
  .content3 {  
   height: auto; width: 100%; background-image: url(img/photo.png)
    ; background-repeat:no-repeat;
    background-color: rgb(243, 241, 236);
background-position: right;
    min-height: 550px;
    
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;}

.pblock4 {margin-top: 20px; text-align: justify; margin-left: 20px;}

.navbutton4bl  {margin-top: 50px; 
  background-color: red;color:white;
  height:50px;
  width: 250px; border:none; border-radius: 10px; margin-left: 20px;}


/* rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */



.undertb5  {margin-top: 100px;

border-spacing: 0px;

width: 80%;
height: auto;
margin-left: 10%;
margin-right: 10%;}

.div1,.div2,.div3,.div4 {height: 442px;}
.btnspisok{background-color: rgb(248, 247, 245); margin-top:20px ;margin-bottom:20px ;

  height:50px;
  width: 100%; border:none; border-radius: 10px; }
  .btnspisok button {height: 90%;width: 28%;margin-bottom:3px;margin-top:3px; border: none; border-radius: 15px;background-color: rgb(248, 247, 245); }
.spisok1 {margin-left: 5px;margin-right: calc(5%);}
.spisok2 {margin-right: calc(5%);}
.spisok3 {margin-right: 1px;}
.btnspisok button:focus{background-color: rgb(235, 213, 47);}

.div1 img {width:100%; display: block;}
.div3 {vertical-align: top;}
.left {text-align: left;}
.div2 {padding-left: 25px; vertical-align: top;}
.undertb5 h1 {font-size: 70px;text-align: left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-top: 10px;}
.butgame {border-radius: 20px; width: 230px; height: 50px; border: none; background-color: rgba(190, 225, 233, 0.541);vertical-align: top;}
.butgame2 { width: 230px; height: 50px; border: none; background-color: rgb(255, 255, 255);vertical-align: top;font-size: 20px;}


.rik{padding: 0;margin: 0;vertical-align: bottom; margin-top: 20px;}

.rik1{padding: 0;margin: 0; margin-top: 40px;}
.rik div {display: inline-block;min-width: 32%;padding: 0;margin: 0;}
.rik1 div {display: inline-block;}
.navbutton5bl{ 
  background-color: red;color:white;
  height:50px;
  width: 250px; border:none; border-radius: 10px; margin-left: 100px;}




.block6 {background-color: rgb(248, 247, 245);}
  .undertb6 {margin-top: 0px;

    border-spacing: 0px;
    text-align: left;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;}

    .content6 { max-height: 100%;  flex-shrink: 0;
      height: auto; width: 100%; 
     
      background-color: rgb(248, 247, 245);
 
       min-height: 550px;}

       .undertb6 h1 {font-size: 70px;text-align: left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-top: 10px;}

.undertb6 .brlock1, .brlock2 {padding-top: 65px;}

.undertb6 div p {margin-top: 40px; width: 473px; text-align: left;}


.contimg  {margin-top: 10px;width: 80%;min-height: 300px;position: relative;padding-top: 0px; }
.contimg div{display: inline-block; width: 30%;}

.contimg4 {margin-left: 100px;margin-top:-45px;width: 30%;}
.contimg1 img{vertical-align:  middle;}
.contimg2 img {vertical-align: bottom;}
.contimg3 img{vertical-align: bottom;}

.contimg h4 {font-size: large;position: absolute;}
.contimg1 h4 { top: 45%; left: 7%;}
.contimg2 h4 { top: 27%; left: 38%;}
.contimg3 h4 { top: 33%; left:71%;}
.contimg4 h4 { top: 79%; left:24%;  transform: rotate(-15deg) }


.inpdiv {width: 80%;height: 100%;margin-top: -30px;}
.inpdiv input{width: 80%;  background-color: rgb(243, 241, 236);height: 40px; border-radius: 15px; border-color: rgb(171, 171, 171);
border-style: solid;}
.inpdiv p{font-size:15px;color:rgb(182, 176, 176); margin-bottom: 5px;}






 footer {margin-top: 0px;

  border-spacing: 0px;

  width: 80%;
 height: auto;
  margin-left: 10%;
  margin-right: 10%;}

  .contentf { background-color: rgb(225, 223, 220); width: 100%;margin-top: 50px;}

  footer ul li.li1f{width: 26%;text-align: left;margin-right: 20%;}
  footer ul li.li2f{width: 48%;}
  footer ul li.li3f{width: 26%;text-align: right;}


 
  footer ul li.li1f a {
    align-items: center;
    min-height: 100px;
    text-decoration: none;
    color: #333;
   
  
  
  }

  footer ul li.li2f a {align-items: center;
    min-height: 100px;
    text-decoration: none;
    color: rgb(16, 16, 16);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:13px;
  width: 10%;
  
  }







footer ul li.li3f a { align-items: center;
  text-align: right;
 width: 100%;
  min-height: 100px;
 
  text-decoration: none;
  color: #333;

 
  
  
}
.spisok4f  { background: rgb(243, 241, 236);margin-top: 20px;margin-right: 10px;
border: 1px solid #7a7b7e;
width: 16px; 
height: 16px; 
border-radius: 4px;}
.btnspisokf {margin-top: 20px;}
.btnspisokf span{margin-left: 10px; margin-right: 10px;}
.btnspisokf button{
  background: rgb(243, 241, 236); 
    border: 1px solid #7a7b7e;
    width: 16px; 
    height: 16px; 
    border-radius: 8px;
}
.navb  {margin-top: 50px; 
  background-color: red;color:white;
  height:50px;
  width: 250px; border:none; border-radius: 10px;} 